*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    margin-top: 0;
}

header a{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: gray;
    padding: 5px;
}
.btn1{
    margin: 5px;
    border-radius: 5px;
}
.flexdx{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container{
    padding: 65px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 220px;
    height: 120px;
    margin: 2px;
    background-image: url(https://picsum.photos/200/100);
    background-size: cover;
    background-repeat: no-repeat;
}
.flexbtmsx{
    display: flex;
    align-items: flex-end;
}
.name{
    color: white;
    width: 40%;
    font-size: 11px;
}

footer{
    background-color: rgb(19, 18, 18);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menusx{
    display: flex;
    align-items: center;
    padding: 5px;
}
.menu-main{
    display: flex;
    align-items: center;
    padding: 5px;
}
.tasto i{
    padding: 2px;
}
.tasto span{
    padding: 2px;
}
.tasto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px;
}
.tasto:hover{
    cursor: pointer;
}
.share i{
    color: rgb(16, 143, 16);
}
.menudx{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100%;
}
.menudx .btn{
}
.menudx .btn a{
    color: red;
    text-decoration: none;
}